<div class="window">
  <div class="row">
    <div class="only-desktop">
      <div class="col-md-6 col-sx-6 col-sm-6">
        <div style="padding-top:40px;" class="floating-desktop">
          <%= image_tag ('/anton1.png') %>
        </div>
      </div>
      <div class="col-md-6 col-sx-6 col-sm-6">
      <h1 style="line-height: 1.2em;padding-top:60px;">Mød <span style="color:#57a0b8;">Anton.</span></h1>
        <h3 style="color:#9a9a9a;font-weight:300;"> Anton er en programmeret virtuel assistent, der frisk klarer dine kedelige opgaver og sælger for dig døgnet rundt.</h3>
      </div>
    </div>


    <div class="only-mobile page-title">
      <div class="col-md-6 col-sx-6 col-sm-6">
        <center>
          <h1>Prepare your launch with <span style="color:#2e88f3;">confidence</span></h1>
          <h3 style="color:#9a9a9a;font-weight:300;">.. while I build your digital machinery.</h3>
        </center>
      </div>
      <div class="col-md-6 col-sx-6 col-sm-6 floating-mobile">
        <div style="padding-top:40px;">
          <%= image_tag ('/anton1.gif') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="window">
  <div class="row">
    <div class="only-desktop">
      <div class="col-md-6 col-sx-6 col-sm-6">
        <div style="padding-top:40px;" class="image-desktop">
          <%= image_tag ('/anton2.png') %>
        </div>
      </div>
      <div class="col-md-6 col-sx-6 col-sm-6">
      <h1 style="line-height: 1.2em;padding-top:60px;;">100% <span style="color:#57a0b8">automatiseret.</span></h1>
        <h3 style="color:#9a9a9a;font-weight:300;"> Læn dig trygt tilbage.. Anton knokler for dig uafbrudt.</h3>
      </div>
    </div>


    <div class="only-mobile page-title">
      <div class="col-md-6 col-sx-6 col-sm-6">
        <center>
          <h1>Prepare your launch with <span style="color:#2e88f3;">confidence</span></h1>
          <h3 style="color:#9a9a9a;font-weight:300;">.. while I build your digital machinery.</h3>
        </center>
      </div>
      <div class="col-md-6 col-sx-6 col-sm-6 floating-mobile">
        <div style="padding-top:40px;">
          <%= image_tag ('/anton1.gif') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="window">
  <div class="row">
    <div class="only-desktop">
      <div class="col-md-6 col-sx-6 col-sm-6">
        <div style="padding-top:40px;" class="image-desktop">
          <%= image_tag ('/anton2.png') %>
        </div>
      </div>
      <div class="col-md-6 col-sx-6 col-sm-6">
      <h1 style="line-height: 1.2em;padding-top:60px;;">Ikke mere manuelt indtastnings <span style="color:#57a0b8">kaos.</span></h1>
        <h3 style="color:#9a9a9a;font-weight:300;"> Anton håndterer betalinger, bookinger og registreringer og sende det hele videre til dig, klart og lyserødt, i dit foretrukne software.</h3>
      </div>
    </div>


    <div class="only-mobile page-title">
      <div class="col-md-6 col-sx-6 col-sm-6">
        <center>
          <h1>Prepare your launch with <span style="color:#2e88f3;">confidence</span></h1>
          <h3 style="color:#9a9a9a;font-weight:300;">.. while I build your digital machinery.</h3>
        </center>
      </div>
      <div class="col-md-6 col-sx-6 col-sm-6 floating-mobile">
        <div style="padding-top:40px;">
          <%= image_tag ('/anton1.gif') %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="window">
  <div class="row">
    <div class="only-desktop">
      <div class="col-md-6 col-sx-6 col-sm-6">
        <div style="padding-top:40px;" class="image-desktop2">
          <%= image_tag ('/anton3.png') %>
        </div>
      </div>
      <div class="col-md-6 col-sx-6 col-sm-6">
      <h1 style="line-height: 1.2em;padding-top:60px;;">Gå fra spam til glam <span style="color:#57a0b8">kaos.</span></h1>
        <h3 style="color:#9a9a9a;font-weight:300;"> Anton fanger, opvarmer, filtrerer og plejer kunder for dig…. oh, og dit indhold og tilbud.</h3>
      </div>
    </div>


    <div class="only-mobile page-title">
      <div class="col-md-6 col-sx-6 col-sm-6">
        <center>
          <h1>Prepare your launch with <span style="color:#2e88f3;">confidence</span></h1>
          <h3 style="color:#9a9a9a;font-weight:300;">.. while I build your digital machinery.</h3>
        </center>
      </div>
      <div class="col-md-6 col-sx-6 col-sm-6 floating-mobile">
        <div style="padding-top:40px;">
          <%= image_tag ('/anton1.gif') %>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="grey">
  <div class="only-desktop">
    <center>
      <%= link_to "Lad os tage en snak!", pages_contact_path, class: 'jp-nav btn btn-primary2' %>
      </center>
  </div>
  <div class="only-mobile">
    <center>
      <%= link_to "Lad os tage en snak!", pages_contact_path, class: 'jp-nav btn btn-primary-mobile' %>
    </center>
  </div>
</div>
</div>